<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">


    <f:layout name="Default" />

    <f:section name="Content">

        <div id="main" class="row">

            <f:render partial="Navigation" />

            <section class="large-8 columns">
                <f:cObject typoscriptObjectPath="lib.contentloader" data="0" />
            </section>

        </div>

    </f:section>


</html>