{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers">


<div class="column">
    <f:link.page pageUid="{data.header_link}" class="teaser">
        <div class="teaser_image">
            <f:image src="{files.0.uid}" alt="" maxWidth="750" treatIdAsReference="1" />
        </div>

        <div class="teaser_content">

            <h3>{data.header}</h3>
            <span class="subtitle_right">{data.subheader}</span>
            <div class="bodytext">
                <f:format.html>{data.bodytext}</f:format.html>
            </div>

        </div>
    </f:link.page>
</div>
