{namespace s=Pfister\Base\ViewHelpers}

<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

    <div class="row hide-for-small-only hide-for-medium-only ">
        <nav id="language" class="small-4 large-10 large-push-1 columns">
            <f:cObject typoscriptObjectPath="lib.menu-language" />
        </nav>
    </div>

    <div class="row">

        <div id="logo-column" class="small-8 large-12 column">
            <a id="logo"
               href="http://bensan.local"
               title="Startseite Bensan.ch">
                <img src="typo3conf/ext/base/Resources/Public/Template/images/logo.png" alt="Logo Bensan AG">
            </a>
        </div>

        <div id="menu-toggle" class="small-4 column hide-for-large">
            <a href="#mainNavigation"
               aria-hidden="false">
                <div id="menu-cross-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </a>
        </div>
    </div>
    <div class="row" id="top-bar"></div>

</html>
