<div class="large-3 large-push-1 columns">

    <nav id="mainNavigation" role="navigation">
        <f:cObject typoscriptObjectPath="lib.menu" />
    </nav>

    <footer>
        <f:render partial="Footer" arguments="{_all}" />
    </footer>

</div>