<f:layout name="Default" />

<f:section name="main">

	<f:for each="{products}" as="productGroup">

		<h2>{productGroup.category.title}</h2>

		<f:for each="{productGroup.products}" as="product">
			<div class="row product-bar">
				<div class="small-12 medium-3 columns">
					<f:image src="{product.image.uid}"
							 treatIdAsReference="1"
							 title="{product.image.title}"
							 alt="{image.alternative}"
							 height="200"/>
				</div>
				<div class="small-12 medium-9 columns">
					<h3>{product.title}</h3>
					<h3>{product.subtitle}</h3>
					<f:format.html>{product.description}</f:format.html>
					<f:link.action pageUid="{detail-pid}" action="show"  additionalAttributes="{class: 'detail-link'}" arguments="{product:product}">
						Details
					</f:link.action>
				</div>
			</div>
		</f:for>
	</f:for>

</f:section>