#address {
  list-style-type: none;
  color: #444249;
  font-size: 0.8rem;
  margin: 0;
  font-style: normal;
}

#top-bar {
  margin: 24px 0;
}

#logo {
  display: block;
}

#wrapper {
  min-height: 1000px;
  background-repeat: no-repeat;
}
#language {
  text-align: right;
}

@include breakpoint(large) {
  #wrapper {
    background-repeat: no-repeat;
    position: relative;
    max-width: $global-width;
    margin: 0 auto;
  }

  #logo {
    margin-top: 125px;
    margin-left: 50px;
    display: inline-block;

    img {
      display: block;
    }
  }

  #main {
    margin-top: 37px;
  }

  #address {
    width: 155px;
    margin-left: 107px;
    list-style-type: none;
    color: #444249;
    font-size: 0.8rem;
    margin-top: 30px;
    font-style: normal;
  }
  #language {
    text-align: left;
  }

  section {
    position: relative;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      height: 100%;
      width: 100%;
      display: block;
      content: "";
      background: rgba(255, 255, 255, 0.4);
    }
    > div {
      width: 100%;
      position: relative;
      z-index: 1;
      padding: 0 15px;
      &:first-child {
        padding-top: 30px;
      }
      &:last-child {
        padding-bottom: 30px;
      }
      > div {
        position: relative;
        top: 0;
        z-index: 2;
        max-width: 566px;
      }
    }
  }

  footer {
    a {
      color: #e1a032;
    }
  }
}
