/*********************************************
    This file should only contain styles
    for the TYPO3 RTE (backend).
    We'll set some basic formatting
    according to this site's styles to
    get the editors closer to the site's
    styling.
**********************************************/
/*********************************************
    Foundation
**********************************************/
/*********************************************
    Set default values
**********************************************/
/*********************************************
    General / global styles
**********************************************/
p {
  font-size: 1rem;
  font-family: inherit;
  line-height: 1.6;
  margin-bottom: 1rem; }

i, em {
  font-family: inherit; }

a {
  text-decoration: none;
  color: #9d1d21; }

ul,
ol,
dl {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  list-style-position: outside;
  font-family: inherit; }

/*********************************************
    Custom styles
**********************************************/
.examplestyle {
  border-bottom: 1px solid #ec5840;
  background: #b91d21; }